/*  --------------------MAIN--------------------------- */

body {
    box-sizing: border-box;
    background-color: whitesmoke;
    text-align: center;
    font-family: sans-serif;
    font-size: 1em;
    color: #202030;
    font-stretch: condensed;
}

.display-none {
    display: none;
}

button:focus {
    box-shadow: none;
    outline: none;
}

/*  ---------------------HEADER--------------------------- */
.ui-container {
    position: relative;
    top: 30vh;
  }
  .ui-container {
      display: grid;
    }
.title {
    font-family: sans-serif;
    font-weight: 1000;
    font-size: 8vh;
    margin-bottom: 1vh;
}
.btn-container {
    height:4vh;
}

.allow-btn {
    background-color: #202030;
    border-radius: 2vw;
    color: whitesmoke;
    font-size: 4vw;
    padding: 2vw 4vw;
    text-decoration: none;
    cursor: pointer;
    border: none;
    margin: auto auto;
}        

.allow-btn:hover {
    background-color: #404050;
}

.allow-btn:active {
    top: 3px;
}


div.header {
    background-color: rgb(64,224,208);
    padding: 5px 15px;
    
}
#slider {
    width: 30vw;
}

.error-container {
    position: relative;
    display:inline;
    top: -10vh;
    margin: 0 auto;
    color: red;
    text-align: center;
}

.show-radius {
    display: inline-block;
}

.translate-up {
    transition: transform 0.5s;
    transform: translate(0, -30vh);
}


/*  --------------------LIST--------------------------- */

img.airplane-image {    
    width: 10vw;
}
.list-container {
    color:black;
}
.list-item {
    display:grid;
    grid-template-columns: 6vw auto auto;
    margin: auto auto 25px;
    background-color: whitesmoke;
    width: 40vw;
    text-align: center;
}

img {
    width:5vw;
}

.altitude-container {
    color: red;
    font-weight: bold;
}

.list-item, .slider-container {
    position: relative;
    right: -100vw;
}
.translate-left {
    transition: transform 0.5s;
    transform: translate(-100vw, 0);
}



/* -----------------ANIMATION----------------------- */
.North {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition-duration: 1s;
    -webkit-animation-name: rotate-north; 
    -webkit-animation-duration:         6s; 
    -webkit-animation-iteration-count:  1;
}


@-webkit-keyframes rotate-north {
    0%, 65%, 75% {
    -webkit-transform: rotate(0deg);
    }
    70% { 
    -webkit-transform: rotate(360deg);
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-delay: 10s;
    }
    100% {
    -webkit-transform: rotate(90deg);

    }
}

.South {
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    -webkit-transition-duration: 1s;
    -webkit-animation-name: rotate-south; 
    -webkit-animation-duration:         6s; 
    -webkit-animation-iteration-count:  1;
}


@-webkit-keyframes rotate-south {
    0%, 65%, 75% {
    -webkit-transform: rotate(0deg);
    }
    70% { 
    -webkit-transform: rotate(360deg);
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-delay: 10s;
    }
    100% {
    -webkit-transform: rotate(270deg);

    }
}

.East {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition-duration: 1s;
    -webkit-animation-name: rotate-east; 
    -webkit-animation-duration:         6s; 
    -webkit-animation-iteration-count:  1;
}


@-webkit-keyframes rotate-east {
    0%, 65%, 75% {
    -webkit-transform: rotate(0deg);
    }
    70% { 
    -webkit-transform: rotate(360deg);
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-delay: 10s;
    }
    100% {
    -webkit-transform: rotate(180deg);

    }
}

.West {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition-duration: 1s;
    -webkit-animation-name: rotate-west; 
    -webkit-animation-duration:         6s; 
    -webkit-animation-iteration-count:  1;
}


@-webkit-keyframes rotate-west {
    0%, 65%, 75% {
    -webkit-transform: rotate(0deg);
    }
    70% { 
    -webkit-transform: rotate(360deg);
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-delay: 10s;
    }
    100% {
    -webkit-transform: rotate(360deg);

    }
}

@media screen and (min-width: 992px) {
    .title {
        font-weight: 1000;
        font-size: 12vh;
        margin-bottom: 2vh;
    }

    .btn-container {
        height:2vh;
    }
    
    .allow-btn {
        background-color: #202030;
        border-radius: 1vw;
        font-size: 2vw;
        padding: 1vw 2vw;

    }        
    
    body{
        font-size: 1.3em;
        font-stretch: normal;
    }
    img.airplane-image {    
        width: 5vw;
    }

}